.navbar{
    display:flex;
    flex-direction: row;
    gap:5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login{
    display: flex;
    gap:20%;
}
button{
    padding:30px;
    background-color: rgb(31, 90, 114);
    -webkit-text-fill-color: antiquewhite;
    border-radius: 80%;
}
a{
    color: rgb(92, 89, 89);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-fill-color: rgb(13, 13, 82);
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(199, 241, 241);
}
p{
    -webkit-text-fill-color:rgb(82, 80, 80);
}
.search{
    border:solid 1px;
    border-radius: 70px;
    padding-left: 15px;
    border-color: rgb(209, 206, 206);
    margin-top: 5%;
    background-color: whitesmoke;
    margin-right: 7%;
}
.woman{
    background-color: rgb(244,210,163);
    width:440px;
    border-radius: 80%;
}
.main{
    display:flex;
    gap:20%;
    margin-top: 3%;
}
.footer{
    background-color: rgb(199, 234, 245);
    height: fit-content;
    width: fit-content;
    
}
.footer2{
    display: flex;
    flex-direction: row;
    gap:10%
    
}
.background{
    background-color:white;
}


@media only screen and (max-width: 600px) and (min-width: 400px){

    .navbar{
        display:flex;
        flex-direction: row;
        gap:5%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .login{
        display: flex;
        gap:20%;
    }
    button{
        padding:30px;
        background-color: rgb(31, 90, 114);
        -webkit-text-fill-color: antiquewhite;
        border-radius: 80%;
    }
    a{
        color: rgb(92, 89, 89);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        -webkit-text-fill-color: rgb(13, 13, 82);
    }
    body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(199, 241, 241);
    }
    p{
        -webkit-text-fill-color:rgb(82, 80, 80);
    }
    .search{
        border:solid 1px;
        border-radius: 70px;
        padding-left: 15px;
        border-color: rgb(209, 206, 206);
        margin-top: 5%;
        background-color: whitesmoke;
        margin-right: 7%;
    }
    .woman{
        background-color: rgb(244,210,163);
        width:440px;
        border-radius: 80%;
    }
    .main{
        display:flex;
        gap:20%;
        margin-top: 3%;
    }
    .footer{
        background-color: rgb(199, 234, 245);
        height: fit-content;
        width: fit-content;
        
    }
    .footer2{
        display: flex;
        flex-direction: row;
        gap:10%
        
    }
    .background{
        background-color:white;
    }
}
  
